<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

    <head>
        <meta charset="UTF-8" />
        <title th:text='${newsItem.headline}'>title</title>
    </head>
    <body>
        <nav>
            <a th:href="@{/newsItems}">All news</a>
            <span th:each="category : ${categories}">
                <a th:href="@{/categories/{id}(id=${category.id})}">
                    <span th:text="${category.name}">category</span>
                </a>
            </span>
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/logout}">Logout</a>
        </nav>
        <div sec:authorize="hasRole('ADMIN')">
            <div th:if="${not #lists.isEmpty(categories)}">

                <h2>Assign to category</h2>

                <form method="POST" th:action="@{/newsItems/{newsItemId}/categories(newsItemId=${newsItem.id})}">
                    <select name="categoryId">
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">category</option>
                    </select>
                    <input type="submit" value="Assign" id="add-to-category"/>
                </form>
            </div>
            <form method="POST" th:action="@{/categories/{newsItemId}(newsItemId=${newsItem.id})}">
                <input type="text" name="name" placeholder="Category"/>
                <input type="submit" value="Add new Category"/>
            </form>
            <form th:action="@{/newsItems/{newsItemId}(newsItemId=${newsItem.id})}" th:method="DELETE">
                <input type="submit" value="Remove this post"/>
            </form>
        </div>
        <h2 th:text="${newsItem.headline} + ' ' + ${newsItem.posted}">headline</h2>

        <div th:if="${newsItem.fileObject != null}">
            <img alt="Image" th:src="@{/newsItems/{newsItemId}/content(newsItemId=${newsItem.id})}" style="width:320px;height:240px;"/>
        </div>

        <h4>
            <span th:text="${newsItem.lead}">lead</span>
        </h4>

        <p><span th:text="${newsItem.text}">text</span></p>
        <div>
            <span>Categories: </span>
            <span th:each="category : ${newsItem.categories}" th:text="${category.name + ' '}"></span>
        </div>
    </body>

</html>
